.side-bar{
    display: inline-flex;
    float: left;
    height: 100%;
    width: 30%;
    background: #654988;
    position: absolute;
    top: 0;
    left: 0;
    font-family: fantasy;
    font-size: xx-large;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 196px;
    padding-left: 70px;
}

.dashboard{
    background: url(../bg1.gif) !important;
}

.logout-users{
    background: url(../bg2.gif) !important;
}

.main-content{
    display: block;
    margin: 5%;
    position: relative;
    top: 72px;
    left: 42%;
    float: left;
    font-size: 16px;
}

.logout-message{
    padding: 4%;
    margin: 8px 0;
    background: #ffeff7;
    border-radius: 10px;
    border: 1px solid #b71280;
}

form{
    padding: 5%;
    font-variant-caps: petite-caps;
    color: #5d5b5b;
    margin: 5px 0;
}
.logout-form{
    padding: 0 !important;
}
input{
    font-size: 18px;
    border-style: groove;
    border-radius: 5px;
    padding: 6px;
}

input[type=submit]{
    margin: 10px 0;
    background: #ddd;
}
