<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Session expired</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    </head>
    <body>
	    	
	    	<div class="side-bar">
	    			Enjoy Secure Sessions!
	    	</div>
    		<div class="main-content">
	        <h1>Session expired</h1>
	
	        <p>You were inactive for one minute. <a th:href="@{/login}">Log again</a> to keep browsing.</p>
        </div>
  
    </body>
</html>
